<div class="navbar">
 <div class="container d-flex justify-content-between">
   <a href="https://www.kpu.ca/" class="navbar-brand"><img src="/img/KPU_white.png" alt="Kwantlen Polytechnic University" class="kpu-logo"></a>
   {{#if user}}
   <a href="/users/logout">Log Out</a>
   {{else}}
   <a href="/users/login">Log In</a>
   {{/if}}
 </div>
</div>

<!--

<footer class="text-muted">
 <div class="container">
   <p class="float-right">
     <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to the Top</a>
   </p>
   <p>Wishing whoever is reading this a wonderful day! <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
   <p>Images courtesy of Google and Bing. I do not own many of the images seen on this website.</p>
 </div>
</footer>

-->
