<div class="collapse bg-dark" id="navbarHeader">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 py-4">
       <h4 class="text-white">KPU Plagiarism Detection</h4>
       <p class="text-muted">This web application will help you detect plagiarism in documents.</p>
     </div>
     <div class="col-sm-4 py-4">
       <h4 class="text-white">Contact</h4>
       <ul class="list-unstyled">
         <li><a href="mailto:wilson_chauu@hotmail.com" class="text-white">Email Us</a></li>
       </ul>
     </div>
   </div>
 </div>
</div>
<div class="navbar navbar-dark bg-dark">
 <div class="container d-flex justify-content-between">
   <a class="navbar-brand">KPU</a>
   <button type="button" onclick="window.location.href='/'" class="btn btn-default" aria-label="Left Align">
     <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
   </button>
   <button type="button" onclick="window.location.href='/result'" class="btn btn-default" aria-label="Left Align">
     <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
   </button>
   <button type="button" onclick="window.location.reload()" class="btn btn-default" aria-label="Left Align">
     <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
   </button>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
 </div>
</div>

<footer class="text-muted">
 <div class="container">
   <p class="float-right">
     <a href="#"><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Back to the Top</a>
   </p>
   <p>Wishing whoever is reading this a wonderful day! <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></p>
   <p>Placeholder</p>
 </div>
</footer>
