<!DOCTYPE html>
<html lang="en">

<!-- Bootstrap -->
<link href="../css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="../style.css" rel="stylesheet">

<head>

  <!-- References a Handlebars partial in views/partials/head.handlebars -->
  {{>head}}

  <title>KPU - Plagiarism Detection Web App</title>

</head>

<body>

  {{>bsnavbar}}

{{{body}}}

</body>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

<!-- Custom Scripts -->
<!--
<script src="detection/detect.js"></script>
<script src="detection/documentIterator.js"></script>
<script src="detection/extractword.js"></script>
<script src="detection/prepareDoc (copy).js"></script>
<script src="detection/prepareDoc.js"></script>
<script src="detection/levenshtein/levenshtein.js"></script>
<script src="detection/dice/diceSimilarity.js"></script>
<script src="detection/cosine/cosineSimilarity.js"></script>
-->

<script>
  Holder.addTheme('thumb', {
    bg: '#55595c',
    fg: '#eceeef',
    text: 'Thumbnail'
  });
</script>

</html>
