<div class="page-header">

  <section class="jumbtotron1">
    <div class="container">
      <center>
        <img src="/img/kpu.jpg" alt="Kwantlen Polytechnic University" class="kpu-img">
      </center>
    </div>
  </secton>

  <section class="jumbotron2 text-center">
    <div class="container">
      <h1 class="jumbotron2-heading">Plagiarism Detection Tool</h1>
      <br/>
      <br/>
      <br/>
      <p>Welcome to KPU's Plagiarism Detection Website Application!</p>
      <p>Please login to continue using this web app.</p>
      <p class="lead text-muted"><i></i></p>
    </div>
  </section>
</div>

<div class="login">
  <center>
    <form method="post" action="/users/login">
      <div>
        <input type="text" name="username" placeholder="Username" class="form-control" id="username-input"><br>
        <input type="password" name="password" placeholder="Password" class="form-control" id="password-input"><br>
      </div>
      <div>
        <input type="submit" name="login" value="Log In" class="btn btn-primary" id="submit-button-login">
      </div>
    </form>
  </center>
</div>

</br>
</br>

<div class="version">
  <center>
    <i>version 0.3.1</i>
  </center>
</div>
