<div class="page-header">
  <section class="jumbtotron1">
    <div class="container">
      <center>
        <img src="/img/kpu.jpg" alt="Kwantlen Polytechnic University" class="kpu-img">
      </center>
    </div>
  </secton>

  <section class="jumbotron2 text-center">
    <div class="container">
      <h1 class="jumbotron2-heading">Your Result</h1>
      <p class="lead text-muted"><i></i></p>
    </div>
  </section>
</div>


<div>
  <center>
  </center>
</div>

</br>
</br>

<div class="return">
  <center>
    <form action="/">
      <input type="button" name="submit" value="Back to Home" class="btn btn-primary" onclick="window.location.href='/'" id="submit-button-result">
    </form>
  </center>
</div>
