html {
  font-family: sans-serif;
  overflow-y: scroll;
}

body {
  font-family: -apple-system,
               BlinkMacSystemFont,
               "Segoe UI",
               Roboto,
               "Helvetica Neue",
               Arial,
               sans-serif;
}

a {
  color: #FFFFFF;
  font-size: 24px;
}

a:hover {
  color: #FFFFFF;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: rgba(152,0,46,1);
}

.med-block {
  margin-bottom: 100px;
}

.kpu-img {
  margin-top: 50px;
  margin-bottom: -50px;
  max-height: 50%;
  max-width: 50%;
  min-height: 45%;
  min-width: 45%;
}

#username-input {
  max-width: 250px;
  margin-bottom: -20px;
}

#password-input {
  max-width: 250px;
}

#submit-button-login {
  color: #FFFFFF;
  margin-top: 25px;
  background-color: rgba(152,0,46,1);
  border-color: rgba(152,0,46,1);
}

#submit-button-home {
  color: #FFFFFF;
  margin-top: 100px;
  background-color: rgba(152,0,46,1);
  border-color: rgba(152,0,46,1);
}

#submit-button-result {
  color: #FFFFFF;
  background-color: rgba(152,0,46,1);
  border-color: rgba(152,0,46,1);
}

#submit-button-login:hover {
  background-color: rgba(125,0,42,1);
  border-color: rgba(125,0,42,1);
}

#submit-button-home:hover {
  background-color: rgba(125,0,42,1);
  border-color: rgba(125,0,42,1);
}

#submit-button-result:hover {
  background-color: rgba(125,0,42,1);
  border-color: rgba(125,0,42,1);
}

#login {
  margin-top: 100px;
}

#upload {
  border-style: dashed;
  padding-top: 65px;
  padding-bottom: 65px;
  padding-left: 100px;
  padding-right: 100px;
}

.login {
  margin-top: -50px;
}

.upload {
  margin-top: -50px;
}

.submit {
  margin-top: -50px;
}

.jumbotron2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
}

.jumbotron2 h1 {
  color: #000000;
}

.jumbotron2 p:last-child {
  margin-bottom: 0;
}

.jumbotron2-heading {
  font-weight: 300;
}

.jumbotron2 .container {
  max-width: 40rem;
}

footer {
  position: bottom;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #000;
  padding-top: 1rem;
  padding-bottom: 100rem;
  z-index: 50;
}

footer p {
  margin-bottom: .25rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}
